.breve-modal {
  font-family: Indie Flower;
  width: 900px;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    z-index: 1;
    max-width: 400px;
    text-align: center;
    color: white;
    font-weight: lighter;
    margin: 0.5rem 0rem;
    font-size: 1.3rem;
    // font-weight: bolder;
  }
  img {
    position: absolute;
    top: 0px;
    left: -10px;
    width: 100%;
  }
}
