.about-we {
  text-align: center;
  .pictoanonym-grid {
    display: grid;
    overflow-y: auto;
    column-gap: 2rem;
    row-gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: max-content;
    grid-auto-flow: dense;
    justify-items: center;
    justify-content: center;
    img {
      max-width: 200px;
    }
  }
  p {
    font-size: 1rem;
  }
  h4 {
    margin-top: 5rem;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
}

@media (max-width: 600px) {
  .about-we {
    padding: 2rem;
    .pictoanonym-grid {
      grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
      img {
        max-width: 100px;
      }
    }
    h4 {
      margin-top: 0rem;
    }
  }
}
