.journey-begins {
  padding-top: 0rem;
  text-align: center;
  line-height: 3rem;
}

@media (max-width: 600px) {
  .journey-begins {
    padding: 0rem 2rem;
    font-size: 1rem;
    line-height: 2rem;
  }
}
