.inventory {
  // background-color: black;
  // color: white;
  padding-top: 1rem;
  .list {
    text-align: center;
    display: grid;
  }
  .french-only {
    font-size: 0.8em;
    letter-spacing: -1px;
  }
}
