.mirror-bg {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  img {
    margin: auto;
    max-width: 500px;
  }
}
