@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

body {
  margin: 0;
  font-family: "Pacifico", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#root {
  max-width: 999px;
  margin: 0 auto;
  position: relative;
}

#breve-button {
  position: fixed;
  top: 0px;
  right: 0px;
}

@font-face {
  font-family: "Indie Flower";
  src: url("./assets/styles/fonts/Indie_Flower/IndieFlower-Regular.ttf")
    format("truetype");
}
