.footer {
  display: flex;
  margin: 3rem auto;
  cursor: pointer;
  img {
    max-width: 600px;
    margin: auto;
  }
}

@media (max-width: 600px) {
  .footer {
    img {
      max-width: 350px;
    }
  }
}
