$central-btn-size: 100px;

.home {
  header {
    img {
      width: 100%;
      cursor: pointer;
    }
  }
  footer {
    display: flex;
    margin-bottom: 3rem;
    img {
      cursor: cell;
      max-width: 444px;
      margin: auto;
    }
  }
  .jb-007 {
    display: flex;
    justify-content: center;
    img {
      max-width: 500px;
      cursor: crosshair;
    }
  }
  .pictos {
    display: flex;
    flex-wrap: wrap;
    column-gap: 3rem;
    justify-content: center;
    padding: 3rem 0rem;
    a {
      max-width: 200px;
      cursor: pointer;
      img {
        max-width: 200px;
      }
    }
  }
}

@media (max-width: 600px) {
  .home {
    width: 100vw;
    overflow: hidden;
    footer {
      img {
        max-width: 350px;
      }
    }
    .jb-007 {
      img {
        max-width: 400px;
      }
    }
    .pictos {
      column-gap: 0.5rem;
      padding: 0.5rem 0rem;
      a {
        max-width: 70px;
        img {
          max-width: 70px;
        }
      }
    }
  }
}
