@import "./carousel.scss";

$central-btn-size: 100px;

.home {
  font-family: "Pacifico", cursive;
  position: relative;
  overflow-x: visible;
  overflow-y: inherit;
  header {
    position: relative;
    img {
      width: 100%;
    }
  }
  .journey-begin {
    padding-top: 2rem;
  }
  footer {
    display: flex;
    margin-bottom: 3rem;
    img {
      max-width: 666px;
      margin: auto;
    }
  }
  .jb-007 {
    height: 280px;
    z-index: -1;
    display: flex;
    justify-content: center;
    img {
      margin: auto;
      position: relative;
      transform: translate(0px, -200px);
      max-width: 500px;
    }
  }
  h3 {
    font-size: 2rem;
    text-align: center;
    margin: auto;
    padding: 1rem 3rem;
    max-width: 850px;
  }
  p {
    font-size: 1.5rem;
    text-align: center;
    margin: auto;
    padding: 1rem 3rem;
    font-weight: lighter;
    max-width: 850px;
  }
  .pictos {
    display: flex;
    flex-wrap: wrap;
    column-gap: 3rem;
    justify-content: center;
    padding: 3rem 0rem;
    a {
      max-width: 200px;
      cursor: pointer;
      img {
        max-width: 200px;
      }
    }
  }

  button {
    background-color: transparent;
    border: none;
    color: white;
    width: $central-btn-size;
    height: $central-btn-size;
    text-align: center;
    cursor: progress;
    :hover {
      color: transparent;
    }
  }
}

.divider {
  display: flex;
  justify-content: center;
  padding: 1rem 0rem;
}

@media (max-width: 600px) {
  .home {
    width: 100vw;
    overflow: hidden;
    footer {
      img {
        max-width: 100%;
        margin: auto;
      }
    }
    .jb-007 {
      height: 150px;
      z-index: -1;
      display: flex;
      justify-content: center;
      img {
        margin: auto;
        position: relative;
        transform: translate(0px, -240px);
        max-width: 400px;
      }
    }
    h3 {
      font-family: "Pacifico", cursive;
      font-size: 1.2rem;
      text-align: center;
      margin: auto;
      padding: 1rem 3rem;
      max-width: 850px;
    }
    p {
      font-family: "Pacifico", cursive;
      font-size: 1rem;
      padding: 1rem;
    }
    .pictos {
      display: flex;
      flex-wrap: wrap;
      column-gap: 0.5rem;
      justify-content: center;
      padding: 0.5rem 0rem;
      a {
        max-width: 70px;
        cursor: pointer;
        img {
          max-width: 70px;
        }
      }
    }

    button {
      background-color: transparent;
      border: none;
      color: white;
      width: $central-btn-size;
      height: $central-btn-size;
      text-align: center;
      cursor: progress;
      :hover {
        color: transparent;
      }
    }
  }

  .divider {
    display: flex;
    justify-content: center;
    padding: 1rem 0rem;
  }
}
